<footer class="page-footer pink">
          <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="white-text">Contáctanos</h5>
                    <div class="row pt-3">
                      <div class="col md-2">
                        <p><i class=" material-icons left black-text">local_phone</i>33-1429-3916</p>
                      </div>
                      <div class="col-md-10">
                          <i class=" material-icons left black-text">email</i>
                          <p>info@pathysesthetic.com</p>
                      </div>
                    </div>
                    <a href="http://localhost:4200/Nosotros" style="text-decoration: none; color:white">
                    <p>Av. Patria 1157, Echeverría, 44970 Guadalajara, Jal.</p></a>
                  </div>
                </div>
            </div>
              <div class="pink darken-1">
                <div class="row container pt-3" style="margin-bottom: -0rem">
                  <div class="col-md-4">
                    <ul>
                      <li class=" d-flex justify-content-center"><a href=""><img  src="../.././assets/icons/twitter.svg" width="30px" height="30px"></a></li>
                      <li><p align="center" class="lead position-relative">@pathysesthetic</p></li>
                    </ul>
                  </div>
                  <div class="col-md-4 d-flex justify-content-center">
                      <ul>
                      <li class=" d-flex justify-content-center"><a href=""><img  src="../.././assets/icons/facebook_1.svg" width="30px" height="30px"></a></li>
                      <li><p class="lead position-relative">facebook.com/user/pathysesthetic</p></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul>
                      <li class=" d-flex justify-content-center"><a href=""><img  src="../.././assets/icons/instagram.svg" width="30px" height="30px"></a></li>
                      <li><p align="center" class="lead position-relative">@pathysesthetic</p></li>
                    </ul>
                  </div>
            </div>
          </div>
          <div class="footer-copyright pink darken-3">
            <div class="container">
              <ul>
                <li>
                  Pahty's Esthetic Copyright ©2021
                </li>
              </ul>
            
            </div>
          </div>
</footer>