<body class="brown lighten-5 pt-4 pb-4">
    <div class="container">
         <div class="input-field" style="margin-right: 4rem; margin-left: 4rem">
         </div>
    </div>
    <p align="center">Mis pedidos</p>

    <div class="white container rounded z-depth-2">
         <table class="table table-striped">
              <tr>
                   <th scope="col">Nombre</th>
                   <th scope="col">Descripcion</th>
                   <th scope="col">Precio</th>
                   <th scope="col">Cantidad</th>
                   <th scope="col">Imagen</th>
                   <th scope="col">Domicilio</th>
                   <th scope="col">Total</th>
                   <th scope="col">Fecha</th>
                   <th scope="col">Hora</th>
              </tr>
         </table>
    </div>
</body>