
<body class=" deep-orange lighten-5">
<div style="background-image: url(../../assets/img/nosotros/header3.jpeg);filter: blur();background-size:100%;background-repeat: no-repeat;background-position: center;height: 200px;" class="border-dark border-1">
    <div style="position:relative;background:rgba(103,103,103,0.5);height:100%;overflow:hidden;">
        <div align="center" style="margin-top: 3rem">
            <p style="font-size: 50px;color:white;" class="lead">Conoce todo sobre nosotros</p>
        </div>
    </div>
</div>

<div class="container pb-5">
    <div class="row z-depth-3 p-1 bg-body mt-4">
        <p align="center" class="display-5">Nuestra ubicación</p>
    </div>
    <div class="row" style="height: 300px; margin-bottom: 4rem">
        <div class="col-md-8 ">
            <div class="z-depth-3">
                <iframe class="w-100 h-100" src="https://www.google.com.mx/maps/embed?pb=!1m18!1m12!1m3!1d933.535198182165!2d-103.36072717079453!3d20.62311725430227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDM3JzIzLjIiTiAxMDPCsDIxJzM2LjciVw!5e0!3m2!1ses!2smx!4v1604366982196!5m2!1ses!2smx" frameborder="1" style="border:1;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="z-depth-3 p-3 bg-body rounded yellow lighten-5">
                <i class=" material-icons left black-text">location_on</i>
                <p><strong>Dirección</strong></p>
                <div class="divider mb-2"></div>
                <p class="mb-4">Av. Patria 1157, Echeverría, 44970 Guadalajara, Jal.</p>

                <i class=" material-icons left black-text">local_phone</i>
                <p><strong>Teléfono</strong></p>
                <div class="divider mb-2"></div>
                <p class="mb-4">33-1429-3916</p>

                <i class=" material-icons left black-text">access_time</i>
                <p><strong>Horario</strong></p>
                <div class="divider mb-2"></div>
                <p style="margin-bottom: -2px"><strong>Lunes a Viernes</strong></p>
                <p>09:00 a 20:00 hrs</p>

                <p style="margin-bottom: -2px"><strong>Fines de semana</strong></p>
                <p>09:00 a 17:00 hrs</p>
            </div>
            
        </div>
    </div>
    
</div>

<div class="container ">
    <div class="z-depth-3 p-3 mb-4 bg-body rounded">
    <div class="p-3 ">
        <div class="row ">
            <h2 class="header">Misión</h2>
            <p class="lead">Nuestra misión es brindar servicios y productos a nuestros clientes de la mayor calidad, mejorar e innovar conforme las necesidades del mercado vayan en constante actualización para poder satisfacer completamente a nuestros clientes en sus necesidades de tener una mejor imagen de su persona y así mismo ofrecer un trato respetuoso, sin inconvenientes, totalmente seguro y honesto.</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="p-3">
        <div class="row">
            <h2 class="header">Visión</h2>
            <p class="lead">La estética sea reconocida por su excelente trabajo, empleados, servicios y productos así mismo que sea reconocida por su amplio conocimiento y responsabilidad en estar al corriente en las necesidades del mercado actual, con todo queremos lograr que el cliente este satisfecho para lograr un efecto de recomendación hacia futuros clientes que tengas las mismas necesidades que nosotros satisfacemos.</p>
        </div>
    </div>
      <div class="divider"></div>
    <div class="p-3">
        <div class="row">
            <h2 class="header">Valores</h2>

            <div class="row">
                <div class="col-md-4">
                    <h5 class="header">Responsabilidad</h5>
                    <p class="lead">Ser responsable con cada uno de nuestros clientes dándole la calidad que se merece en nuestros servicios y productos que conllevan en satisfacer sus necesidades.</p>
                </div>

                <div class="col-md-4">
                    <h5 class="header">Respeto</h5>
                    <p class="lead">Que el cliente reciba un trato con respeto en nuestros servicios para asegurar su bienestar.</p>
                </div>
                <div class="col-md-4">
                    <h5 class="header">Honestidad</h5>
                    <p class="lead">Usaremos la honestidad en nuestros servicios para ganarnos la confianza y credibilidad de nuestros clientes.</p>
                </div>
            </div>
      </div>
    </div>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>

</body>