
<div align="center" style="background-color:#880ca1">
    <button mat-button style="color:white" routerLink="Inicio">Inicio</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button style="color:white" routerLink="Nosotros">Nosotros</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button style="color:white" routerLink="Ubicacion">Ubicacion</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button style="color:white" routerLink="Tendencias">Tendencias</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button style="color:white" routerLink="Catalogo">Catalogo</button>     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button style="color:white" routerLink="InicioSesion">Inicio Sesion</button>    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
</div>


