<body class="brown lighten-5 pt-4 pb-4">
     <div class="container">
          <div class="input-field" style="margin-right: 4rem; margin-left: 4rem">
               <i class="material-icons prefix">search</i>
               <input class="form-control-bootstrap grey lighten-5 border border-2 rounded validate" type="text" placeholder="  Buscar cliente" [(ngModel)]="clientesM.nombre">
          </div>
     </div>

     <div class="white container rounded z-depth-2">
          <table class="table table-striped">
               <tr>
                    <th scope="col">Nombre completo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Usuario</th>
               </tr>
               
               <tr *ngFor="let clientes of clientes">
                    <td>{{ clientes.nombre }} {{clientes.apellido}}</td>
                    <td>{{ clientes.telefono }}</td>
                    <td>{{clientes.correo}}</td>
                    <td>{{clientes.nomUsuario}}</td>
               </tr>
          </table>
     </div>
</body>