
<body class=" deep-orange lighten-5">
	<!--Portada-->
	<div style="background-image: url(../../assets/img/inicio/fondo.jpg);background-size: cover;background-repeat: no-repeat;background-position: center;height: 470px;" class="border-bottom border-dark border-1">
		<div style="position:relative;background:rgba(103,103,103,0.4);height:100%;overflow:hidden;">
			
			<div class="container" align="center" style="color: white;">
				<div style="padding-top: 50px">
					<p class="display-4">¡Bienvenido a Pathy's Esthetic!</p>
				</div>
				<div style="padding-bottom: 30px">
					<p style="font-size: 25px;" class="lead">Eres tan increíble como te permites a ti misma serlo.</p>
				</div>
				<div>
					<a class="waves-effect waves-light btn-large deep-purple accent-1"><i class="material-icons left">event</i>Agenda tu cita</a>
				</div>
			</div>
		</div>
	</div>
	<!--Portada-->
	<div class="container" style="position:relative; bottom: 150px">
		<div class="row pt-4 z-depth-3 rounded">
			<div class="col s4 p-5 pink lighten-2">
				<div class="d-flex justify-content-center">
				<img class=" rounded-circle border z-depth-2 img-fluid" height="200px" width="200px" src="../../assets/img/inicio/img1.jpeg" style="object-fit: cover">
				</div>
				<div>
				<p align="center" class="lead mt-4" style="font-size: 35px">Cortes de cabello</p>
				</div>
			</div>
			<div class="col s4 p-5 pink lighten-3">
				<div class="d-flex justify-content-center">
				<img class="border rounded-circle z-depth-2" height="200px" width="200px" src="https://lh3.googleusercontent.com/proxy/PPVAbjwqGBzoeWLJ78ZP48l6XIJF-fTOu8Jwbgnr9PU0AxZqLFDQ_vIAiM8nMYK4q5lOZ2NdBzfuZ6Mb8voQIT_26ymNGWtxcCSaRR3j1id9q_FMoF2Dczv0nH9VP5gQIRK0OERgG6ar" style="object-fit: cover">
				</div>
				<div>
				<p align="center" class="lead mt-4" style="font-size: 35px">Tintes para tu cabello</p>
				</div>
			</div>
			<div class="col s4 p-5 pink lighten-4">
				<div class="d-flex justify-content-center">
				<img class="border rounded-circle z-depth-2" height="200px" width="200px" src="https://i.pinimg.com/originals/5b/ba/65/5bba65ac948ecffde16047bcd6b662fe.jpg" style="object-fit: cover">
				</div>
				<div>
				<p align="center" class="lead mt-4" style="font-size: 35px">Y mucho mas. . .</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="position:relative; bottom: 200px;">
		<div class="row" style=" margin-top:5rem; margin-bottom: 5rem">
			<div class="col s6" >
				<a href=""><div class="card z-depth-3 rounded grow">
					<div class="card-image">
						<img class="" src="../../assets/img/inicio/corte-hombre.jpg" width="100%">
						<span class="card-title">Estilos para hombres</span>
					</div>
					<div class="card-content">
						<p class="lead" style="text-decoration: none; color: black;">El estilo de un hombre no cambia, se transforma en actitud.</p>
					</div>
				</div></a>
			</div>

			<div class="col s6" >
				<a href=""><div class="card z-depth-3 rounded grow">
					<div class="card-image">
						<img src="../../assets/img/inicio/corte-mujer.jpg" width="100%">
						<span class="card-title" style="">Estilos para mujer</span>
					</div>
					<div class="card-content">
						<p class="lead" style="text-decoration: none; color: black;">La vida es corta, aseg&uacute;rate de vivirla con un cabello asombroso.</p>
					</div>
				</div></a>
			</div>
		</div>
	</div>
		<div class="parallax-container position-relative" style="height: 600px;bottom:250px; margin-bottom: -250px;">

			<div class="parallax"><img src="../../assets/img/inicio/catalogo-fondo2.png"  width="100%"></div>
			<div align="center" class="container position-relative" style="padding-top:10rem; color: white;">
				<h1 class="lead" style="font-size: 50">¡Tenemos todo tipo de productos para tu cabello!</h1>
				<div style="padding-bottom: 2rem">
					<p style="font-size: 25px;" class="lead">Visita nuestro catálogo en linea, hacemos envíos a todo el país.</p>
				</div>
				<div>
					<a href="Catalogo" class="waves-effect waves-light btn-large deep-purple accent-1">Ver catálogo</a>
				</div>
			</div>
			
		</div>
		<!-- <div class="container position-relative">
			<div class="white position-absolute shadow" style="height: 600px; width: 100%;transform: rotate(-140deg);right: 70%; top:40%">
			</div>
			<div class="white position-absolute shadow" style="height: 600px; width: 100%;transform: rotate(40deg);right: -60%; bottom:2%">
			</div>
		</div> -->
<div style="overflow: hidden">
	<div class="position-relative container" style="height: 900px; width: 100%">
		<div class="white position-absolute shadow" style="height: 600px; width: 100%;transform: rotate(-40deg);right: 52%; bottom:65%">
		</div>
		<div class="white position-absolute shadow" style="height: 600px; width: 100%;transform: rotate(140deg);right: -52%;top:65%">
		</div>
		<img class="position-absolute" src="../../assets/img/inicio/app.jpg" style="transform: rotate(10deg); height: 76%;top:9%; left: 11%">
		<img class="position-relative" src="https://i.pinimg.com/originals/4c/fc/31/4cfc31123ceccd60f0fbc801962d23c6.png" height="100%" style="left:-15%">
		<div class="row col-md-7 position-relative" style="font-size: 350%;bottom:80%; left: 20%">
			<font color="#424242" face="Helvetica">Agenta citas con nuestra app</font>
			<p class="lead">La app de Pathy's Esthetic te permite agendar tus propias citas de manera muy cómoda sin ningún costo.</p>
			<a type="button" class="waves-effect waves-light btn pink lighten-2" style="width: 35%; margin-top: 1rem; margin-left: 1.8rem"><p class="lead"><i class="material-icons left">file_download</i>Descargar</p></a>
		</div>

	</div>
</div>



<footer>
	<app-footer></app-footer>
</footer>